.col-md-9
        .row.receit-wrapper
            h1.receipt_title= recipe.label
            date.receipt_date 01.01.2015
            img.receipt_img(src=recipe.image, alt="receipt1")
            h3.receipt_more-info Ingridients
            ul.receipt_ingredients
                li Solt
                li Sugar
                li Oil
            h2 How to make it?
                p.receipt_info
                    span Source:
                    span= recipe.recipe.source
                p.receipt_info
                    span Calories:
                    span= recipe.recipe.calories.toFixed(2)
                p.receipt_info
                    span Diet Labels:
                    span= recipe.recipe.dietLabels

            h2 Gallery
            ul.receipt_gallery
                li.col-md-4
                    img(src="http://placehold.it/250x150")
                li.col-md-4
                    img(src="http://placehold.it/250x150")
                li.col-md-4
                    img(src="http://placehold.it/250x150")
        .row.comments-wrapper
            h2 Comments
            hr
            .comment-container.col-xs-12
                h3 By dasdasdsa
                date 02.02.1320
                p Bla bla bla bla bla bla
            .comment-container.col-xs-12
                h3 By dasdasdsa
                date 02.02.1320
                p Bla bla bla bla bla bla
            .comment-container.col-xs-12
                h3 By dasdasdsa
                date 02.02.1320
                p Bla bla bla bla bla bla