include ./includes/header.jade
section#wrapper
    each item, id in items
        article.box
            h1
                a.title(href="/"+id+".html")= item.item
            h2 Price:
                span=item.price
            img(src=item.img)
            ul
                li Display:
                    span=item.display
                li=item.CPU
                li RAM:
                    span=item.ram

                button
                    a(href="/" + id + ".html")  More info
